* {
    margin: 0;
    padding: 0;

    font-family: "Roboto";
    color: black;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

header {
    width: 90%;

    margin: 3vh auto;

    font-size: 18px;

    display: flex;
    justify-content: space-between;
}

.header-top-info {
    height: 6vh;
}

.header-top-info p {
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.545);
}

.header-top-info a {
    position: absolute;
    margin-top: 15px;
}

nav a {
    margin-right: 20px;

    font-weight: 700;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 5vh;
}

.enter-block {
    display: flex;
}

.enter-logo {
    width: 25%;

    position: absolute;
    top: 170px;
    left: 50%;

    transform: translate(-47.5%, -47.5%);
}

.enter-image-half {
    width: 50%;
    height: 86vh;

    overflow: hidden;
}

.enter-image-half img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 0 -12vh;
}

.enter-text-half {
    width: 50%;
    height: 800px;
    padding: 0 0 0 4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-transform: uppercase;
}

.enter-text-half h1 {
    margin-top: 190px;

    font-size: 84px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
}

.slogan-part {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 1px;
}

.enter-circle {
    width: 138px;
    height: 138px;
    margin-bottom: 32px;

    align-content: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;

    border-radius: 70px;

    user-select: none;

    color: white;
    background-color: black;
}

.container {
    width: 83vw;
    margin: 0 auto;
}

.partners-and-award-block {
    height: 100vh;
}

.partners-block {
    padding-top: 14vh;
}

.partners-block h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-transform: uppercase;
    text-align: center;
}

.partner-part {
    font-size: 22px;
    letter-spacing: 1px;
}

.partners-stand {
    width: 62.5vw;
    margin: 0 auto;
    padding-top: 5vh;

    display: flex;
    justify-content: space-between;
}

.partners-stand img {
    width: 9vw;
}
