* {
    margin: 0;
    padding: 0;

    font-family: "Roboto";
    color: black;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

header {
    width: 90%;

    margin: 30px auto;

    font-size: 18px;

    display: flex;
    justify-content: space-between;
}

.header-top-info {
    height: 69px;
}

.header-top-info p {
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.545);
}

.header-top-info a {
    position: absolute;
    margin-top: 15px;
}

nav a {
    margin-right: 20px;

    font-weight: 700;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 54px;
}

.enter-block {
    display: flex;
}

.enter-logo {
    width: 25%;

    position: absolute;
    top: 170px;
    left: 50%;

    transform: translate(-47.5%, -47.5%);
}

.enter-image-half {
    width: 50%;
    height: 800px;

    overflow: hidden;
}

.enter-image-half img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 0 -25vh;
}

.enter-text-half {
    width: 50%;
    height: 800px;
    padding: 0 0 0 4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-transform: uppercase;
}

.enter-text-half h1 {
    margin-top: 190px;

    font-size: 84px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
}

.slogan-part {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 1px;
}

.enter-circle {
    width: 138px;
    height: 138px;
    margin-bottom: 32px;

    align-content: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;

    border-radius: 70px;

    user-select: none;

    color: white;
    background-color: black;
}
